.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

    .plans--title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 50px;

        h2 {
            padding-top: 50px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: var(--black);
        }

        p {
            padding-top: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #757575;
        }
    }

    .plans-container--slider {
        display: flex;
        height: 316px;
        // scroll horizontal
        // overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;

        .plans-container--card {
            position: relative;
            // centra el elemento en movimiento
            scroll-snap-align: center;
            width: 70%;
            min-width: 190px;
            max-width: 300px;
            height: 250px;
            margin: 20px 10px 0;
            padding: 0 15px;
            background-color: var(--just-white);
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    
            .recommended {
                position: absolute;
                width: 120px;
                height: 31px;
                left: calc(50% - 60px);
                top: -15px;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 6px;
                background-color: var(--bitcoin-orange);
                border-radius: 8px;
                color: var(--just-white);
            }
    
            .black {
                background-color: red;
            }
    
            .basic {
                background-color: green;
            }
    
            .plan-info-container {
    
                .plan-card--title {
                    padding-top: 30px;
                    font-size: 1.4rem;
                    font-weight: bold;
                    line-height: 1.8rem;
                    color: black;
                }
    
                .plan-card--price {
                    margin-top: 10px;
                    padding-top: 5px 0;
                    font-size: 5.2rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: bold;
                    line-height: 5.3rem;
                    color: black;
    
                    span {
                        position: absolute;
                        top: 45px;
                        left: 26%;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
    
                .plan-card--saving {
                    margin-top: 10px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.4rem;
                    color: #757575;
                }
    
                .plan-card--ca {
                    width: 150px;
                    height: 48px;
                    margin-top: 20px;
                    background-color: #faf8f7;
                    border: 2px solid var(--bitcoin-orange);
                    border-radius: 4px;
                    font-size: 1.4rem;
                    font-weight: bold;
                    line-height: 1.8rem;
                    color: var(--black);
                    font-family: 'DM Sans', sans-serif;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--soft-blue);
                        border: 2px solid black;
                    }
    
                    span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-image: url('../assets/icons/arrow-right.svg');
                        vertical-align: text-bottom;
                    }
                }
    
                .btn-basic {
                    border: 2px solid green;
    
                    span {
                        background-image: url('../assets/icons/arrow-right-g.svg');
                    }
                }
    
                .btn-black {
                    border: 2px solid red;
    
                    span {
                        background-image: url('../assets/icons/arrow-right-r.svg');
                    }
                }
            }
        }
    }
}